{% extends 'banksis/base.html' %}

  {% block content %}
<div class="container">
    <!-- <h2>Müşteriler</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Müşteri Tc</th>
          <th>Müşteri Ad</th>
        </tr>
      </thead> -->
      <tbody>
      <!-- {% for musteri in musteriler %} 

        <tr>
          <td>{{musteri.musteri_tc}}</td>
          <td>{{musteri.musteri_ad}}</td>

        </tr>
        {% endfor %} -->
      </tbody>
    <!-- </table> -->
  </div>

  {% endblock %}
  